@font-face {font-family: "iconfont";
  src: url('./iconfont.ttf'); /* IE9 */
  src: url('./iconfont.ttf') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.ttf') format('woff'),
  url('./iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.ttf') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ctrlfangwen:before {
  content: "\e644";
}

.ctrlxitongguanli:before {
  content: "\e64b";
}

.ctrlfankui:before {
  content: "\e738";
}

.ctrldengji:before {
  content: "\e6ab";
}

.ctrlzhuomianzhuye:before {
  content: "\e68b";
}

.ctrlxiazai:before {
  content: "\e63a";
}

.ctrlshouyezhuyezhuomian1000:before {
  content: "\e6b3";
}

.ctrlwodezhuomian:before {
  content: "\e62e";
}

.ctrlecs-disk:before {
  content: "\e62f";
}

.ctrlhuiyuan:before {
  content: "\e643";
}

.ctrlxitong:before {
  content: "\e601";
}

.ctrlxitong1:before {
  content: "\e60e";
}

.ctrlxitong2:before {
  content: "\e67c";
}

.ctrlneicun:before {
  content: "\e630";
}

.ctrlicon:before {
  content: "\e602";
}

.ctrl07:before {
  content: "\e69f";
}

.ctrlfangwenliang:before {
  content: "\e634";
}

.ctrldisk:before {
  content: "\e64c";
}

.ctrlcpu:before {
  content: "\e658";
}

.ctrlmemory:before {
  content: "\e65f";
}

.ctrlcpu1:before {
  content: "\e688";
}

.ctrlmemory1:before {
  content: "\e6b0";
}

.ctrlwiappfangwenliang:before {
  content: "\e693";
}

.ctrlxitongshezhi:before {
  content: "\e607";
}

.ctrlfangwen1:before {
  content: "\e608";
}

.ctrlfankui1:before {
  content: "\e651";
}

.ctrldengji-:before {
  content: "\e600";
}

.ctrlCPU:before {
  content: "\e64a";
}

.ctrlhuiyuan1:before {
  content: "\e61c";
}

.ctrlxitongguanli1:before {
  content: "\e60a";
}

.ctrlhuiyuan2:before {
  content: "\e641";
}

.ctrlfenbu:before {
  content: "\e76d";
}

.ctrlxiazai1:before {
  content: "\e667";
}

.ctrlneicun1:before {
  content: "\e605";
}

.ctrlCPU1:before {
  content: "\e622";
}

.ctrlhuiyuan-:before {
  content: "\e60d";
}

.ctrlzhediedaohang_o:before {
  content: "\eb6d";
}

.ctrlhuiyuan3:before {
  content: "\e636";
}

.ctrlicon-test:before {
  content: "\e60f";
}

.ctrlfankui2:before {
  content: "\e61d";
}

.ctrlsvg-:before {
  content: "\e623";
}

.ctrlxiazai2:before {
  content: "\e60c";
}

.ctrlzhuomian:before {
  content: "\e609";
}

.ctrlxitong3:before {
  content: "\e835";
}

.ctrlxiazailiang:before {
  content: "\e61a";
}

.ctrlrizhi:before {
  content: "\e62d";
}

.ctrlrizhi1:before {
  content: "\e614";
}

.ctrlzhuanxierizhi:before {
  content: "\e60b";
}

.ctrlxingzhuang:before {
  content: "\e610";
}

.ctrlxingzhuang1:before {
  content: "\e611";
}

.ctrlxingzhuang2:before {
  content: "\e612";
}

.ctrldengji1:before {
  content: "\e615";
}

.ctrlhome_shousuo_icon:before {
  content: "\e604";
}

.ctrlhome_shousuo_h_icon:before {
  content: "\e603";
}

.ctrlwulianwang-:before {
  content: "\e613";
}

.ctrlxiazai3:before {
  content: "\e6ca";
}

.ctrluser-plus:before {
  content: "\e6e2";
}

.ctrlzhedie:before {
  content: "\e645";
}

.ctrlrenyuanfenbu:before {
  content: "\e654";
}

.ctrlxinzengyonghu:before {
  content: "\e635";
}

.ctrlshousuocaidan:before {
  content: "\e61f";
}

.ctrlziyuan:before {
  content: "\e61e";
}

.ctrlshousuocaidan-copy:before {
  content: "\e64d";
}

.ctrlfankui3:before {
  content: "\e620";
}

.ctrlxinbaniconshangchuan-:before {
  content: "\e619";
}

.ctrlcipan:before {
  content: "\e65d";
}

